<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="hzvb" />

<title>HZVB</title>

<link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />

<link href="/static/css/styles.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

{# Get button id from table and use this to run query  #}

<script>
$(document).ready(function() {

    $("#myModal").on("show.bs.modal", function(event) {
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract value from the custom data-* attribute
        var titleData = button.data("title");
        var title2Data = button.data("title2");
        var title3Data = button.data("title3");
        var title4Data = button.data("title4");

        // Change None values to empty string in modal score inputs

        if(title2Data == "None") {title2Data = ""}
        if(title3Data == "None") {title3Data = ""}

        // row data teams, scores en match id is returned
        $("#teams").text(titleData);
        $("#score1").attr("value",title2Data);
        $("#score2").attr("value",title3Data);
        $("#match_id").attr("value",title4Data);

    });

});
</script>

