
    <div class="container px-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-3" href="#!">HAGELANDSE ZAALVOETBALBOND</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/kalender/">kalender</a></li>
                <li class="nav-item"><a class="nav-link" href="/resultaten/">Resultaten</a></li>
                <li class="nav-item"><a class="nav-link" href="/rangschikking/">Rangschikking</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/downloads/">Downloads</a></li>
                <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
            </ul>
        </div>
        </nav>
    </div>
        <!-- Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">For your Queries</h5>
                </div>
                <div class="modal-body">
                    IF you have any questions, Mess Manager Office number is <strong>+01234567890</strong> or you can email us by <strong>Ouremail@domain.com</strong>>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss = "modal">Close</button>
                </div>
            </div>
        </div>
    </div>
