{% extends "base.html" %}

{% block page_content %}

            <div class="row mt-0 ms-2">
                {% for contact in data %}
                <div class="col-md-4 mt-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ contact["role"] }}</h2>
                            <p class="card-text">
                                {{ contact["name"] }} <br>
                                {{ contact["email"] }} <br>
                                {{ contact["phone"] }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

           <div class="row mt-3">
               <div class="col-4 my-5"></div>
               <div class="col-4 my-2 text-center">
                    <a class="btn btn-dark" href="#!">Upload match resultaat</a>
               </div>
               <div class="col-4 my-2"></div>
           </div>

{% endblock %}