{% extends "base.html" %}

{% block page_content %}

            <div class="row mt-0 ms-2">
                {% for contact in data %}
                <div class="col-md-4 mt-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ contact[1] }}</h2>
                            <p class="card-text">
                                {{ contact[2] }} <br>
                                {{ contact[3] }} <br>
                                {{ contact[4] }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}