{% extends "base.html" %}

{% block page_content %}
        <div class="container paddings">
            <!-- Content Text-->
            <div class="row mt-0 mb-3">
                <div class="col-md-12 mt-3 text-center">
                    <p class="lead">Hieronder vind u u alle downloads</p>
                <div class="row">
                    <a href="downloads/Individueel inschrijvingsformulier v.2020.pdf">Individueel Inschrijvingsformulier (PDF)</a>
                </div>
                <div class="row">
                    <a href="downloads/Individueel inschrijvingsformulier v.2020.doc">Individueel Inschrijvingsformulier (WORD)</a>
                </div>
                <div class="row">
                    <a href="downloads/Schrappingsformulier individueel lid v.2020.pdf">Individueel Schrappingsformulier (PDF)</a>
                </div>
                <div class="row">
                    <a href="downloads/Schrappingsformulier individueel lid v.2020.doc">Individueel Schrappingsformulier (WORD)</a>
                </div>
                <div class="row">
                    <a href="downloads/Procedure ongevalsaangifte.pdf">Procedure Ongevalsaangifte (PDF)</a>
                </div>
                <div class="row">
                    <a href="downloads/Aangifteformulier Sporta Verzekeringen.pdf">Aangifteformulier Sporta Verzekeringen (PDF)</a>
            </div>
        </div>
            <!-- End Content Text-->

{% endblock %}