{% extends "base.html" %}

{% block page_content %}
<div class="container col-md-5 bg-light p-md-5">

    <form class="form-signin" method="post" _lpchecked="1">

      <label for="user_name" class="sr-only">User name</label>
      <label for="info" name="info" class="sr-only text-danger m-lg-2">{{ login }}</label>
      <input type="text" id="inputUserName" name="input_username" class="form-control mt-1 mb-1" placeholder="Email address" required="" autofocus="">
      <input type="password" id="inputPassword" name="input_password" class="form-control mt-1 mb-1" placeholder="Password" required="">
      <button class="btn btn-lg btn-dark btn-block mt-1 mb-1" type="submit">login</button>

    </form>
</div>




{% endblock %}